/*
font-family: 'Arizonia',
cursive;
font-family: 'Dancing Script',
cursive;
font-family: 'Open Sans',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #fff;
    line-height: 25px;
    /* width: 100%; */
    /* height: 100%; */
}

/* nagłówek */


.header-splash {
    height: 450px;
    overflow: hidden;
    width: 100%;
    /*    width:1903px*/
    background-image:url(../img/1.jpg);
    background-size: cover;
    background-position: center left;
    position: relative;
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
}

.header-intro {
    /*    position: relative;*/
    /*    text-align: center;*/
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.header-title {
    font-size: 180px;
    color: #fff;
    font-family: 'Arizonia', cursive;
    letter-spacing: 1.5px;
    padding-top: 200px;
    /*        margin: 0;*/
}

.header-subtitle {
    font-size: 25px;
    color: #fff;
    font-family: 'Open Sans',
        sans-serif;
    padding-top: 90px;
    /*    margin: 0;*/
}

.navigation {
    /* width: 1903px; */
    width: 100%;;
    height: 60px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.2);
    box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.2);
    background: #fff;

}

.topnav {
    /* width: 1060px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.navigation a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 60px;
    font-weight: 600;
    padding-right: 25px;

}

.navigation a:hover {
    color: #905e7b;
}

  /* page container */

  .page-content {
    width: 1100px;
    height: 3900px;
    /*    height: auto;*/
    margin: 0 auto;
}
/*slider*/


/* Slideshow container */
.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: 50px 0 auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* The dots*/
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
   
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* gallery */


.gallery-wrapper {
    padding-top: 20px;
}


.gallery-wrapper div{
    display: inline-block;
    padding-right: 18px;
}

.gallery-img img{
    box-shadow: 3px 4px 3px 0px rgba(3, 3, 3, 0.2);
}


.gallery-wrapper div:last-child {
    padding-right: 0;
}


/* parallax */