/*
font-family: 'Arizonia',
cursive;
font-family: 'Dancing Script',
cursive;
font-family: 'Open Sans',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    background-color: #fff;
    line-height: 25px;
    /* height: 100%; */

}

/* nagłówek */


.header-splash {
    height: 450px;
    overflow: hidden;
    width: 100vw;
    /*    width:1903px*/
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center left;
    /* position: relative; */
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
}

.header-intro {
    /*    position: relative;*/
    /*    text-align: center;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.header-title {
    font-size: 180px;
    color: #fff;
    font-family: 'Arizonia', cursive;
    letter-spacing: 1.5px;
    padding-top: 200px;
    /*        margin: 0;*/
}

.header-subtitle {
    font-size: 25px;
    color: #fff;
    font-family: 'Open Sans',
        sans-serif;
    padding-top: 90px;
    /*    margin: 0;*/
}


@media (orientation: portrait) and (min-width: 360px) {

    .header-splash {
        width: 375px;
    }

    .header-title {
        font-size: 75px;
        text-align: center;
    }

    .header-subtitle {
        font-size: 22px;
    }

    .page-content {
        width: 375px;
    }

    .gallery-wrapper .gallery-img img {
        display: block;
        width: 360px;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .gallery-wrapper div {
        width: 340px;
        padding-bottom: 10px;
        margin: 0 5px;
        display: block;
    }


    .main-content {
        width: 375px;
        display: block;
        padding: 0 15px;
    }

    .article-left {
        /* width:100%; */
        display: block;
        width: 360px;
    }

    .sidebar-right {
        width: 360px;
        /* width: 100%; */
        display: block;
        /* margin: 0 20px; */
    }

    .section-title {
        width: 360px;
        font-size: 30px;
        text-align: left;
    }

    .article-title {
        text-align: left;
        width: 360px;
    }

    .article-wrapper {
        width: 360px;
        display: block;
    }

    .wrapper-media a i {
        font-size: 12px;
        padding: 5px;
    }

    .social-media {
        width: 100%;
        height: 50px;
    }

    .copyright p {
        font-size: 13px;
    }
}


@media (orientation: portrait) and (min-width: 410px) {}

@media (orientation: portrait) and (min-width: 768px) {}

@media (orientation: landscape) {}

@media (orientation: landscape) and (min-width: 640px) {}

@media (orientation: landscape) and (min-width: 1024px) {}

@media (orientation: landscape) and (min-width: 1280px) {}

@media (orientation: landscape) and (min-width: 1600px) {}

@media (min-width: 1024px) {}


.navigation {
    /* width: 1903px; */
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.2);
    box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.2);
    background: #fff;
    text-align: center;

}

.topnav {
    width: 1100px;
    margin: 0 auto;
}

.topnav a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 60px;
    font-weight: 600;
    padding-right: 25px;
    /* display: inline-block; */
}

.navigation a:hover {
    color: #905e7b;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}



/* page container */

.page-content {
    width: 1100px;
    /* height: 3900px; */
    /* height: auto; */
    margin: 0 auto;
}

/*slider*/


/**/

.slider {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__container {
    max-width:1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    
}

.slider__button {
    outline: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color:#a1a1a1;
    color: #fff;
    border: none;
    position: absolute;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

.slider__button:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.slider__button:hover {
    background-color: #000;
}

.slider__button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    height: 20px;
    width: 20px;
}

.slider__button--prev {
    left: 0;
}

.slider__button--prev::before {
    -webkit-transform: translate(100%, 75%) rotate(-45deg);
    transform: translate(100%, 75%) rotate(-45deg);
}

.slider__button--next {
    right: 0;
}

.slider__button--next::before {
    -webkit-transform: translate(50%, 75%) rotate(135deg);
    transform: translate(50%, 75%) rotate(135deg);
}

.slide__image {
    height: auto;
    max-width: 100%;
}


.slide__caption {
    width: 100%;
    text-align: center;
    font-size: 25px;
    display: none;
}



/**/


/* gallery top*/


/* .gallery-wrapper{
  width: 100%;
}

.gallery-img{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.gallery-img div img{
  width: 350px;
  height: auto;
} */

.gallery-wrapper {
    padding-top: 20px;
    width: 100%;
    height: 300px;
}


.gallery-wrapper div {
    padding-right: 22px;
    float: left;
}

.gallery-img img {
    -webkit-box-shadow: 3px 4px 3px 0px rgba(3, 3, 3, 0.2);
    box-shadow: 3px 4px 3px 0px rgba(3, 3, 3, 0.2);
    width: 350px;
    height: auto;
}


.gallery-wrapper div:last-child {
    padding-right: 0;
}


/* article */

.article-left {
    width: 800px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    color: #030303;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    letter-spacing: 1px;
    /* padding-top: 40px; */
}

.article-title {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.article-wrapper img {
    width: 100%;
    height: 517px;
    border: 0;
    padding-bottom: 15px;
}

.article-wrapper p {
    color: #464646;
    font-size: 14px;
    text-align: justify;
    width: 100%;
}

/* sidebar right */

.sidebar-right {
    width: 300px;
    float: left;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #030303;
    padding: 25px;
}

.sidebar-right h4 {
    /* color: #030303; */
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
}

.about img {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    height: 179px;
}

.about p {
    color: #464646;
    font-size: 14px;
    padding-bottom: 15px;
}

.about h6 {
    /* color: #030303; */
    font-size: 19px;
    font-family: 'Dancing Script', cursive;
    /* text-transform: uppercase; */
    padding-bottom: 10px;
}

.instagram-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact i {
    padding: 10px;
}

.title {
    font-weight: 600;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* parallax */

.statement {
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 35vh;
}


/* social media */

.social-media {
    background-color: #f9f9f9;
    width: 100%;
    height: 68px;
    text-align: center;
    /* margin-top: 25px; */
    padding: 0;
}

.wrapper-media a:hover {
    color: #905e7b;
}


.wrapper-media {
    padding: 20px;
    margin: 0;
}


.wrapper-media a {
    color: #5b5b5b;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}


.wrapper-media i {
    padding: 10px;
}


.footer {
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
    width: 100%;
}


.footer-wrapper {
    text-align: center;

}

.logo {
    padding: 40px;
}


.copyright {
    font-family: 'Open Sans', sans-serif;
    color: #a1a1a1;
}

.go-up i {
    font-size: 25px;
    padding: 25px;
}

.go-up i:hover {
    cursor: pointer;
    color: #905e7b;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}
